.image-scroll-container {
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Hide scroll in Internet Explorer */
    scrollbar-width: none;     /* Hide scroll in Firefox */
}

.image-scroll-container::-webkit-scrollbar {
    display: none;             /* Hide scroll in Chrome, Safari, Opera */
}

.position-relative::before,
.position-relative::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    pointer-events: none;
}

.position-relative::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.position-relative::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}