<div class="profile-container">
    <div *ngIf="user">

        <div class="d-flex justify-content-center align-items-center">
            <div class="row my-5">
                <div class="col-auto">
                    <img *ngIf="user?.profilePictureUrl" [src]="user.profilePictureUrl" 
                        class="img-fluid border border-2 rounded-circle" 
                        style="height: 200px; width: 200px; object-fit: cover;" alt="Profile Picture" />
                </div>
                
                <div class="col">
                    <div class="col mt-5 d-flex">
                        <div>
                            <p class="fw-semibold fs-4">{{ user?.username }}</p>
                            <p class="fw-semibold text-muted fs-6">{{ publicImageCount }} Images</p>
                        </div>
                        <p *ngIf="isAllowToEdit" class="fw-bold ms-5 fs-4" type="button" (click)="editProfile()">
                            <i class="bi bi-gear-wide"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div *ngIf="isEditingProfile">
            <app-user-profile-edit 
                [userId]="userId" [user]="user"
                (profileUpdated)="onProfileUpdated($event)" (cancelEdit)="onCancelEdit()">
            </app-user-profile-edit>
        </div>
        
        <div *ngIf="!isEditingProfile">
           <app-user-profile-images 
                [userId]="userId" [isAllowToDelete]="isAllowToDelete">
            </app-user-profile-images>
        </div>
    </div>
    
    <div *ngIf="!user">
        <h2 class="text-center text-danger my-5">Profile not Found!</h2>
    </div>
</div>