<h2 class="text-center my-5">Login</h2>

<div class="w-50 mb-5 mx-auto">
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="border rounded p-4">
    <div class="mb-3">
      <label for="usernameOrEmail" class="form-label">Username or Email</label>
      <input type="text" #usernameOrEmail="ngModel" id="usernameOrEmail" name="usernameOrEmail" class="form-control" [(ngModel)]="loginData.usernameOrEmail" required />
      <div *ngIf="usernameOrEmail.invalid && (usernameOrEmail.touched || usernameOrEmail.dirty)">
        <div class="text-danger" *ngIf="usernameOrEmail.errors?.['required']">Username or Email is required.</div>
      </div>
    </div>
  
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" name="password" class="form-control" [(ngModel)]="loginData.password" required #password="ngModel" />
      <div *ngIf="password.invalid && (password.touched || password.dirty)">
        <div class="text-danger" *ngIf="password.errors?.['required']">Password is required.</div>
      </div>
    </div>
  
    <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">Login</button>
  </form>
</div>