<h2 class="text-center my-5">User Management</h2>

<div class="card mb-3">
    <div class="card-header">
        <p class="fs-4">Overview</p>
        <div class="mb-3">
            <input type="text" 
                class="form-control" 
                placeholder="Search users..." 
                [(ngModel)]="searchQuery" 
                (input)="onSearchChange()" />
        </div>
    </div>


    <div class="card-body">
        <table class="table table-sm table-hover">
            <thead>
                <tr class="text-center">
                    <th class="text-start">Id</th>
                    <th class="text-start">Username</th>
                    <th class="text-start">Email</th>
                    <th>Role</th>
                    <th>Register date</th>
                    <th>Updated date</th>
                    <th>Images</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td (click)="copyFullId(user.id)" style="cursor: pointer;" title="Click to copy">
                        {{ user.id | slice:0:8 }}...
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-center" style="max-width: 80px;">
                        <select class="form-select form-select-sm" [(ngModel)]="user.role" (change)="updateRole(user)">
                            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                        </select>
                    </td>
                    <td class="text-center">{{ user.createdAt | date:'dd-MM-yyyy' }}</td>
                    <td class="text-center">{{ user.updatedAt | date:'dd-MM-yyyy' }}</td>
                    <td class="text-center">{{ imageCounts.get(user.id) ?? 'Loading...' }}</td>
                    <td>
                        <button
                            [swal]="{ title: 'Confirmation', text: user.isBanned ? 'Are you sure you want to unban this user?' : 'Are you sure you want to ban this user?',
                            showCancelButton: true }" (confirm)="banUnban(user.id, user.isBanned)" class="btn btn-sm me-3"
                            [ngClass]="{'btn-danger': !user.isBanned, 'btn-success': user.isBanned}">
                            <i *ngIf="user.isBanned" class="bi bi-check-circle"></i>
                            <i *ngIf="!user.isBanned" class="bi bi-ban"></i>
                            {{ user.isBanned ? 'Unban' : 'Ban' }}
                        </button>
                        <button [routerLink]="['/profile', user.id]" class="btn btn-sm btn-primary me-3">
                            <i class="bi bi-person-circle"></i>Profile
                        </button>
                        <button
                            [swal]="{ title: 'Confirmation', text: 'Are you sure you want to delete this user?',
                            showCancelButton: true }" (confirm)="deleteUser(user.id)" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i>Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="users.length">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" type="button" (click)="previousPage()" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
                <a class="page-link" type="button" (click)="currentPage = i + 1; loadUsers()">{{ i + 1 }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" type="button" (click)="nextPage()" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
