<div class="mt-5 mx-auto">
    <div class="row align-items-center mb-5">
        <div class="col-12 col-md-6 text-end">
            <img src="mountains.png" style="height: auto; width: 100%;" class="rounded-4" alt="Mountains" />
        </div>
        <div class="col-12 col-md-6">
            <div class="m-3 text-center">
                <p class="fs-1 fw-bold">Create stunning</p>
                <p class="fs-2 fw-bold">visuals with AI</p>
            </div>
            <div>
                <div class="input-group mb-3" style="max-width: 300px; margin: 0 auto;">
                    <input type="text" class="form-control" placeholder="Describe your image">
                    <button class="btn btn-secondary" type="button">Generate</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="mt-4">
            <p class="mb-3 fs-5 fw-semibold">Recent</p>
            <div class="container">
                <div class="row">
                    <div class="col" *ngFor="let column of columns">
                        <div *ngFor="let image of column">
                            <img [src]="baseUrl + image.url" class="img-fluid rounded-4 mb-3" alt="Generated Image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>