<div class="profile-container">
    <div *ngIf="user">
        <h2 class="my-5">{{ user?.username }}'s Profile</h2>
        <img *ngIf="user?.profilePictureUrl" [src]="user.profilePictureUrl" alt="Profile Picture" class="profile-pic">
    
        <h3 class="text-center mb-4">Image collection</h3>
        <div class="image-gallery mb-3">
            <div class="row g-1 w-75 mx-auto">
                <div *ngFor="let image of userImages; let i = index" class="col-md-4">
                    <img [src]="baseUrl + image.url" alt="User image" class="img-fluid w-100">
                    <button *ngIf="isAllowToDelete" class="btn btn-danger" (click)="deleteImage(image.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!user">
        <h2 class="text-center text-danger my-5">Profile not Found!</h2>
    </div>
</div>