<h2 class="text-center my-5">Registration</h2>

<div class="w-50 mb-5 mx-auto">
  <div class="alert alert-danger text-center" *ngIf="errorMessage != ''">
    {{errorMessage}}
  </div>
  <form *ngIf="errorMessage === ''" (ngSubmit)="onSubmit()" #registerForm="ngForm" class="border rounded p-4">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" #username="ngModel" id="username" name="username" class="form-control" [(ngModel)]="registerData.username" required />
      <div *ngIf="username.invalid && (username.touched || username.dirty)">
        <div class="text-danger" *ngIf="username.errors?.['required']">Frist Name is required.</div>
    </div>
    </div>
  
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input email #email="ngModel" id="email" name="email" class="form-control" [(ngModel)]="registerData.email" required />
      <div *ngIf="email.invalid && (email.touched || email.dirty)">
        <div class="text-danger" *ngIf="email.errors?.['required']">Email is required.</div>
        <div class="text-danger" *ngIf="email.errors?.['email']">Email is invalid.</div>
      </div>
    </div>
  
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" name="password" class="form-control" [(ngModel)]="registerData.password" required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" #password="ngModel" />
      <div *ngIf="password.invalid && (password.touched || password.dirty)">
        <div class="text-danger" *ngIf="password.errors?.['required']">Password is required.</div>
        <div class="text-danger" *ngIf="password.errors?.['minlength']">Password must be at least 8 characters long.</div>
        <div class="text-danger" *ngIf="password.errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.</div>
      </div>
    </div>
  
    <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>